.navItem:focus, .navItem:hover {
    color: cyan;
    cursor: pointer;
}


#linkedinLink:focus, .fa-linkedin:hover {
    -webkit-color: #0077B5;
    -moz-color: #0077B5;
    -ms-color: #0077B5;
    -o-color: #0077B5;
    color: #0077B5;
}

#gitHubLink:focus, .fa-github:hover {
    color: #6e5494;
}

#blogLink:focus, .fa-blog:hover {
    color: #00AB6B;
}

#twitterLink:focus, .fa-twitter-square:hover {
    color: #00acee;
}

#resumeLink:focus, .fa-file-pdf:hover {
    color: #ff0000;
}

#emailLink:focus, .fa-envelope:hover {
    color: #db3236;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.linkToGitHub:focus, .linkToDemo:focus, 
.linkToGitHub:hover, .linkToDemo:hover {
    background-color: rgb(47, 247, 237);
    cursor: pointer;
}