@media (max-width: 400px) {
    .fa-linkedin, .fa-github, 
    .fa-twitter-square, .fa-file-pdf, 
    .fa-envelope {
        font-size: 2.2rem !important;
    }
}

@media (max-width: 500px) {
    #sideNavButton {
        visibility: visible;
    }
    .topNav {
        display: none;
    }
    .landingPage {
        height: 50%;
        width: 50%;
    }

    .Container {
        box-shadow: 1px 1px 2.5px 2.5px;
        -webkit-width: 90%;
        -moz-width: 90%;
        -ms-width: 90%;
        -o-width: 90%;
        width: 90%;
    }
    .listOfTech {
        width: 100%;
    }
}

@media (min-width: 501px) {
    #sideNavButton {
        visibility: hidden;
    }

    .hook {
        width: 40%;
        text-align: center;
        justify-content: flex-end;
        display: inline-block;
    }

    .description {
        width: 50%;
        text-align: center;
        justify-content: flex-end;
        display: inline-block;
    }
}

@media (min-width: 501px) and (max-width: 1000px) {
    .descApp, .referral {
        width: 50%;
        margin: 15px auto;
        text-align: center;
    }

    .landingPage {
        height: 60%;
        width: 30%;
    }
}

@media (min-width: 1001px) {
    .descApp, .referral {
        width: 50%;
        margin: 15px auto;
        text-align: center;
    }
}