@media (max-width: 400px) {
    .fa-linkedin, .fa-github, 
    .fa-twitter-square, .fa-file-pdf, .fa-blog, 
    .fa-envelope {
        font-size: 1.8rem !important;
    }
}

@media (max-width: 650px) {
    #sideNavButton {
        visibility: visible;
    }
    .topNav {
        display: none;
    }

    .Container {
        box-shadow: 1px 1px 2.5px 2.5px;
        width: 90%;
    }
}

@media (min-width: 651px) {
    #sideNavButton {
        visibility: hidden;
    }
    #gitHubLink, #twitterLink, #blogLink, #linkedinLink, #resumeLink, #emailLink {
        padding: 0px 10px;
    }
}

@media (min-width: 651px) and (max-width: 1000px) {
    .descApp, .referral {
        width: 80%;
        margin: 15px auto;
        text-align: center;
    }

    .hook {
        line-height: 1em;
        font-size: 1.5rem;
    }
}

@media (min-width: 1001px) {
    .descApp, .referral {
        width: 80%;
        margin: 15px auto;
        text-align: center;
    }

    p {
        font-size: 1rem;
        line-height: 1.6em;
        width: 70%;
        margin: 0px auto;
    }
}